{% extends "check.html" %}

{% block content %}
<style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Float four columns side by side */
    .column {
      float: left;
      width:40%;
      padding: 10px 10px;
    }
    
    /* Remove extra left and right margins, due to padding */
    .row {margin: 0 -5px;}
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
    </style>

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <h3>Contributors:</h3>
          <div class="row">
            <div class="column">
                <div class="card">
                    
                        <img class="card-img-top" src="static/c_images/ro.jpg" alt="Card image cap">
                        <p>Rohit Kumar Das</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                        
                        <img class="card-img-top" src="static/c_images/sa.jpg" alt="Card image cap">
                        <p>Saurav <br>Kumar</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    
                        <img class="card-img-top" src="static/c_images/say.jpeg" alt="Card image cap">
                        <p>Saurya Agarwal</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    
                        <img class="card-img-top" src="static/c_images/to.jpg" alt="Card image cap">
                        <p>Shaikh Abdul Touheed</p>
                </div>
            </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}