{% extends "check.html" %}


{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Upload New File </h5>
              <form class="form-signin" method=post enctype=multipart/form-data >
                <div class="form-label-group">
                  <input type=file id="inputEmail" name=image  class="form-control" autofocus>
                </div>
  
                <div class="form-label-group">
                  <input type="submit" id="inputPassword" value=Upload class="btn btn-primary" >
                </div>
                {% if image_name %}
                <div>
                    <img alt=""  width=250 height=250 src="static/images/{{image_name}}">
                        <div class="card">
                            <ul>
                                <h3>Preticted Items Are</h3>
                                    {% for label in labels %}
                                        <li>{{label}}</li><br>
                                    {% endfor %}
      
                            </ul>
                        </div>
                    <img alt=""  width=250 height=250 src="static/p_images/{{image_name}}">
                </div>
                <h3>Prediction ={{prediction}}</h3>
                {% endif %}
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}